@font-face {
  font-family: 'OpenSans-Regular';
  src: url('~@/assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('~@/assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 600;
}
